.box{

}

.heading{
    font-weight:900;
    font-size : 30px;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    text-align:center;
    /* text-decoration:line-through double 5px red; */
    letter-spacing: 3px;
    line-height: 1.2;
}

.paragraph{
    word-spacing: 20px;
}